parameters:
   dynamicConstantNames:
        - LEGAL_NOTICE_ADDRESS
        - LEGAL_NOTICE_EMAIL_ADDRESS
        - LEGAL_NOTICE_PHONE
        - LEGAL_NOTICE_FAX
        - LEGAL_NOTICE_REPRESENTATIVE
        - LEGAL_NOTICE_REGISTER
        - LEGAL_NOTICE_VAT_ID
        - LEGAL_NOTICE_ADDITIONAL_TEXT
        - LEGAL_NOTICE_ADDITIONAL_TEXT_ENABLE_HTML
